<h1>Welcome to RemEdu</h1>

<div class="local_video">
    <video src="" autoplay poster="/images/00.jpg" id="live_local_video">

    </video>
    <input type="button" name="start_stop_live_local_video" value="Start" id="start_stop_live_local_video">
</div>

<br />
<div class="playback_video">
    <video src="" autoplay poster="/images/20.jpg" id="live_playback_video">

    </video>
    <input type="button" name="start_stop_live_playback_video" value="Start" id="start_stop_live_playback_video">
</div>
<div class="chat">
  <div class="chatinput">
    <label for="chattext">Input: </label>
    <input type="text" name="chattext" value="" id="chattext">
    <input type="button" name="chatsend" value="Post" id="posttext">
  </div>
  <div class="chatshow" id="chatitems"></div>
</div>
